VITE_API_URL="<string>"
VITE_APP_URL="<string>"
VITE_CHAIN_ENV="development"
VITE_PRIVY_APP_ID="<your privy app id>"
VITE_PUBLIC_POSTHOG_PROJECT_TOKEN="<your posthog project token>"
VITE_PUBLIC_POSTHOG_HOST="https://eu.posthog.com"
